<%- include ('partials/header'); -%>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blogs.title%></div>
    <form class="ui form" action="/blogs/<%= blogs._id%>?_method=PUT" method="POST">
        <div class="feild">
            <label>Title</label>
            <input type="text" value="<%= blogs.title%>" name="blog[title]">
        </div>
        <div class="feild">
            <label>Image</label>
            <input type="text" value="<%= blogs.image%>" name="blog[image]">
        </div>
        <div class="feild">
            <label>Blog Body</label>
            <textarea name="blog[body]"><%= blogs.body%></textarea>
        </div>
        <div> <button class="ui basic violet big button">Submit</button></div>
    </form>
</div>
<%- include ('partials/footer'); -%>